.feature-box {
  background-color: rgba($color: #fff, $alpha: 0.8);
  border-radius: 2px;
  box-shadow: 0 1rem 2rem rgba(#000, 0.3);
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  transform: skewY(0deg);
  width: 24rem;

  @include respond(tab-port) {
    padding: 1.5rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }

  &__icon {
    fill: $color-primary;
    width: 8rem;
    height: 8rem;
    margin-bottom: 0.5rem;
    // font-size: 6rem;
    // margin-bottom: 0.5rem;
    // display: inline-block;
    // background-image: linear-gradient(
    //   to right,
    //   $color-primary-light,
    //   $color-primary-dark
    // );
    // color: transparent;
    // background-clip: text;
    // -webkit-background-clip: text;
  }
}
