.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 250;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;

  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target .popup__content {
    opacity: 1;
    transform: scale(1);
  }

  &__content {
    width: 60vw;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.4);
    display: flex;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.3);
    transition: all 500ms 200ms ease-out;

    @include respond(tab-port) {
      display: block;
      width: 75vw;
      height: 75vh;
    }

    @include respond(phone) {
      width: 80vw;
      height: auto;
    }

    //TEST
    //height: 80vh;
  }

  &__left {
    width: 33.33333%;
    //height: 100%;

    @include respond(tab-port) {
      width: 100%;
      height: 40%;
      display: flex;
    }
  }

  &__photo {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(tab-port) {
      width: 50%;
      height: 100%;
      display: inline-block;
    }
  }

  &__photo-1 {
    background-image: url(https://codehard.cz/natours/img/nat-8.jpg);
    background-position: center;
  }

  &__photo-2 {
    background-image: url(https://codehard.cz/natours/img/nat-9.jpg);
    background-position: bottom;
  }

  &__right {
    width: 66.66667%;
    //height: 100%;
    padding: 4rem;
    position: relative;

    @include respond(tab-port) {
      width: 100%;
      height: 60%;
    }

    @include respond(phone) {
      padding: 3.5rem;
    }
  }

  &__text {
    margin-bottom: 4rem;
    font-size: 1.4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
      margin-bottom: 2rem;
    }
  }

  &__close {
    &,
    &:link,
    &:active {
      display: inline-block;
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      text-decoration: none;
      color: $color-grey-dark;
      font-size: 3rem;
      transition: all 200ms;
      height: auto;
      line-height: 1;

      @include respond(tab-port) {
        top: -27rem;
        right: 2rem;
        font-size: 3.5rem;
        color: $color-grey-dark-3;
      }

      @include respond(phone) {
        top: 1rem;
        font-size: 3.5rem;
        color: $color-grey-dark;
      }
    }

    &:hover {
      font-weight: 800;
      color: $color-primary;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba($color: #000000, $alpha: 0.8);
      cursor: default;

      @supports (-webkit-backdrop-filter: blur(10px)) or
        (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color: #000000, $alpha: 0.4);
      }
    }
  }
}
